.about {   
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.about__main-title {
    color: #fb8686; 
    font-size: 1em;
    letter-spacing: 3px; 
    text-transform: uppercase;
}
.about__sub-title {
    font-size: 2.5em; 
    letter-spacing: 2px; 
    margin: 0; 
    color: #282828
}
.about__sub-title_white {color: #fff; letter-spacing: 2px; font-weight: 500;}
.about__text_white {color: #f6f5f3; font-weight: 400; letter-spacing: 1px;}
.about__text {
    font-size: 1em; 
    letter-spacing: 1px; 
    margin: 20px 0; 
    color: #717171
}
.about__pink-dots {color: #fb8686;}
.about__main-title_letter-space {letter-spacing: 3px; font-weight: 500;}
@media screen and (max-width: 1200px){
    .about__sub-title {font-size: 1.5em;}
}
@media screen and (max-width: 768px){
    .about {width: 100%;}
    .about__main-title {margin: 10px 0;}
    .about__sub-title {font-size: 1.2em;}
    .about__main-title_white {color: #fff;}
    .about__text_gray {color: #383838;}
}