.intro {
  width: 100%;
  height: 99vh;
  display: flex;
}
.intro__image {
  width: 40%;
  height: auto;
  background-image: url("../img/bg/bgintro.jpg");
  background-position: left bottom;
}
.intro__about {
  width: 60%;
  padding: 140px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .intro__about {
    padding: 100px;
  }
}
@media screen and (max-width: 992px) {
  .intro__about {
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .intro__image {
    display: none;
  }
  .intro {
    height: auto;
  }
  .intro__about {
    width: 100%;
  }
}
